div {
    margin: 20px;
    padding: 20px;
    border: 1px solid fuchsia;
    border-radius: 25px;
    
}

h1, h2 {
    text-align: center;
}

.kozepre {
    text-align: center;
}

a {
    background-color: blue;
    color: white;
    border-radius: 25px;
    padding: 10px;
    
}

a:hover {
    background-color: fuchsia;
}

span {
    font-weight: bold;
    font-style: italic;
    color: fuchsia;
    font-size: 40px;
}

#listak {
    background-color: lightgrey;
    
}

.megisfeher {
    background-color: white;
    border-radius: 25px;
    width: 100px;
    
}

.sorrendi {
    font-style: italic;
}

img {
    display: block;
    margin: auto;
}
